In [1]:
1+1

2

In [2]:
7-5

2

In [3]:
3x4

SyntaxError: invalid syntax (<ipython-input-3-b3f34f24d548>, line 1)

In [4]:
3*4

12

In [5]:
3/2

1.5

In [6]:
3**2

9

In [29]:
3**2

9

In [30]:
3**2

9

In [9]:
3//2

1

In [10]:
3**4

81

In [11]:
5/2

2.5

In [12]:
13//3

4

In [16]:
1+2 == 3

True

In [17]:
5+7 == 11

False

In [18]:
1+2 != 4

True

In [19]:
1+2 >4

False

In [20]:
2 +3 < 6

True

In [21]:
2+3>=5

True

In [22]:
2+3>5

False

In [24]:
10%2 == 0

True

In [25]:
11%2==0

False

In [26]:
12%2 == 0 and 12%3==0

True

In [27]:
14%2 ==0 and 15 %2 ==0

False

In [28]:
14%2==0 or 15%2==0

True

### 안녕하세요 반갑습니다

### 변수

In [31]:
# 변수명으로 허용되지 않는 것들
# 1:숫자가 앞에 붙을 경우
# 2: 언더바(_)를 제외한 특수기호
# 3: 띄어쓰기
a=3
b=5

a+b

8

In [32]:
a=3
b=13

a+b

16

In [38]:
a=3
a = a+1
a
a=a+2
a
#언제나 마지막 결과만 출력
#print(내용) 으로 쓰면 감싼것도 출력

6

### 문자열

In [40]:
#  int == integer == 정수형
# str == string == 문자열

In [43]:
"Hello world"
# 문자열은 쌍따옴표를 써야한다
# 변수랑 헷갈릴까봐, 예약어랑 헷갈릴까봐

'Hello world'

In [48]:
'Hello world'
# 문자안에 홑따옴표가 있으면 쌍따옴표로 전체를 감싼다

'Hello world'

In [49]:
"'Shayne's a weight?"

"'Shayne's a weight?"

In [53]:
"c" == "C"
#소문자 대문자 구별은 필수!

False

In [52]:
1 == '1'
# 숫자 1 과 문자 1은 비슷하지만 다르다

False

In [56]:
"1" + "2"
#문자열을 더하면 앞뒤로 붙는다.

'12'

### 불(bool)

In [57]:
# 참과 거짓을 부르는 것

In [58]:
True

True

In [59]:
False

False

In [60]:
True == 1

True

In [61]:
False == 0

True

In [63]:
# 불(bool)형은 우리가 무언가를 비교할 때 true, false 비교가 깔끔
# 수학연산 할 때는 1, 0을 쓴다

In [67]:
True
# 앞 문자만 대문자일 때 성립
# 모두 대문자 또는 소문자는 에러

True

In [69]:
True == "true"
#같아보이지만 다르다

False

### 에러

In [77]:
# 코드는 명시적으로 짜야한다
# 에러를 빠르고 효울적으로 고치는 방법을 체득하자

### 에러가 나면 코드를 보는 것이 아닌 에러 메세지를 봐라
### 화살표를 찍어 준 부분에 에러가 있다. 

# 아니면 간접적으로 연관되어있는 코드를 찾으면 에러가 있다.
# 화살표에서 한, 두 , 세칸 위에서 에러가 있을 수 있다.
# 쌍,홑따옴표  소, 중, 대괄호는 짝을 맞춰줘야한다. 에러가나면 한칸아래에서 나온다.

# 원인을 발견할 수 없는 에러는 type error를 복사해서 네이버 말고 구글에 쳐서 확인
# stack overflow에 솔루션이 엄청많음
# 잘 안나오면 핵심 키워드 추가해서 검색

In [75]:
a="2"
1+a

TypeError: unsupported operand type(s) for +: 'int' and 'str'

### 문자열(심화)

In [5]:
message = "Hello world"
message

'Hello world'

In [82]:
message[0]
#indexing 문자열에서 알파벳 가져오기
#대부분 검색 또는 색인은 대괄호 나머지는 소괄호 (예외도 있다)

'H'

In [81]:
message[1]

'e'

In [83]:
#수를 셀 때는 0,1,2,3 순으로 센다 -1은 뒤에서 첫번째

In [84]:
+0 == -0

True

In [85]:
message[-0]

'H'

In [86]:
message[-1]

'd'

In [89]:
#slicing 4를 넣으면 3번째까지, 3을 넣으면 2번째 까지
message[0:4]

'Hell'

In [90]:
# [:4] 0도 생략가능
message[:4]

'Hell'

In [92]:
# 끝을 생략하면 끝까지 출력
message[4:]

'o world'

In [93]:
"H" in message

True

In [96]:
# method
# 다외울 필요없고 아래 4개는 필수로
message.upper()
#upper - 모두 대문자

'HELLO WORLD'

In [97]:
message.lower()
#lower - 모두 소문자

'hello world'

In [6]:
message.count("o")
#count() - 안에 있는 문자 개수 카운트

2

In [7]:
message.replace("H","J")
#replace("?","!") - 문자열에서 ?를 !로 바꿔준다.

'Jello world'

### 리스트

In [104]:
odd = [1,3,5,7,9]
odd

[1, 3, 5, 7, 9]

In [110]:
odd.append(11)
odd
#append - 리스트에 () 안에 내용 추가

[1, 3, 5, 7, 9, 11, 11, 11, 11]

In [111]:
odd.reverse()
odd
#reverse - 리스트 순서 뒤집기

[11, 11, 11, 11, 9, 7, 5, 3, 1]

In [112]:
odd.pop()
odd
#pop - 끝 숫자 지우기

[11, 11, 11, 11, 9, 7, 5, 3]

In [114]:
odd = odd + [13,15,17]
odd
# + 리스트에 리스트 추가하기

[11, 11, 11, 11, 9, 7, 5, 3, 13, 15, 17]

In [115]:
odd[3] = -1
odd[5] = 0
odd
#숫자 대체하기

[11, 11, 11, -1, 9, 0, 5, 3, 13, 15, 17]

### 제어문(if문)

In [118]:
age = 20
if age<5:
    print("아이")
elif age < 18:
    print("학생")
else : 
    print("어른")
# if와 else 의 오른쪽에는 :(콜론)을 붙일 것
# 들여쓰기도 정확하게
# else 작성 안하면 false일때 표시안된다.

어른

### 반복문(for 문)

In [1]:
basket = ['apple', 'banana', 'chicken', 'pineapple', 'cheery']
basket

['apple', 'banana', 'chicken', 'pineapple', 'cheery']

In [2]:
print(basket[0])
print(basket[1])
print(basket[2])
print(basket[3])
print(basket[4])

apple
banana
chicken
pineapple
cheery

In [4]:
for product in basket :
    print(product)

apple
banana
chicken
pineapple
cheery

In [132]:
for i in range(1, 10):
    if i==5:
        print("bang!")
    
    print(i)

    print("complete!")
#콜론(:) 들여쓰기를 넣는 수단!
#들여쓰기가 for문과 if문의 범위를 나타내므로 중요

1
complete!
2
complete!
3
complete!
4
complete!
bang!
5
complete!
6
complete!
7
complete!
8
complete!
9
complete!

### 함수

In [133]:
# def == define
def multiply(a,b):
    c = a*b
    
    return c

In [134]:
multiply(2,3)

6

In [135]:
multiply(3,4)

12

In [136]:
# print 는 그냥 출력
# return 는 함수의 결과를 반환

In [137]:
def sign(n):
    if n>0:
        return '양수'
    elif n<0:
        return '음수'
    else :
        return '0'

In [138]:
sign(1)

'양수'

In [139]:
sign(-1)

'음수'

In [140]:
for n in [-1,0,+1]:
    print(sign(n))

음수
0
양수